* {
    text-decoration: none;
    margin: 0;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container-narrow {
    max-width: 1024px;
    margin: 0 auto;
}

.wrapper1 {
    width: 1100px;
    margin: auto;
    position: relative;
}

.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight: 800;
    float: left;
    font-family: 'fantasy';
    color: #663e24;
}

.menu {
    float: right;
    font-size: 20px;
}

.gm1 {
    float: right;
    width: 42px;
    height: 42px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: relative;
    position: -webkit-sticky;
    top: o;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #364f6b;
    background-color: rgb(228, 228, 111);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #364f6b;
}

h2 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.tbl-biru {
    background: #364f6b;
    border-radius: 80px;
    margin-top: 20px;
    padding: 20px 15px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 80px;
    margin-top: 20px;
    padding: 20px 15px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #364f6b;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.picture {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.picture-1 {
    width: 20%;
    margin: 0 auto;
}

.picture-1 img {
    width: 80%;
    border-radius: 50%;
}

.picture-1 p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
}